*.py[cod]
*.swp
*.bak
.DS_STORE

htmlcov/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Virtual Environment
.venv/

